<!DOCTYPE html>
<html lang="en" class="has-background-info" style="min-height: auto;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="theme.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://unpkg.com/vue"></script>
</head>
<style>

</style>
<body>
    <div id="app" class="scroll-container">

        <!-- card detail -->
        <Carddetail :curTodoArray="curTodoArray" v-on:addTodo="addTodo" v-on:unshow="curTodoArray = {}">
            <div v-for="(data, index) in curTodoArray.toDo" style="position: relative">

                <!-- checklist -->
                <Checklist :data="data" v-on:remove="remove(index)" />
                <!-- /checklist -->

            </div>
        </Carddetail>
        <!-- card detail -->

        <div class="columns m-10">
            <input v-model="curTextListInput" type="text" class="column is-2 input mr-10" placeholder="List Name" @keyup.enter="addList">
            <input type="button" class="button has-text-weight-semibold" value="Add List" @click="addList()" />
        </div>
        <div v-show="board.lists.length" class="scrollmenu">
            <div class="list-section">
                <div v-for="(list, listIndex) in board.lists" class="list-container has-background-light mr-5 width-max" @dragover="allowDrop" @drop="drop($event, listIndex)">

                    <!-- list -->
                    <List :value="list">
                        <div v-for="(card, cardIndex) in list.cards" class="card-shadow is-pulled-left mtb-3 width-max" draggable="true" @dragstart="drag($event, card, listIndex, cardIndex)">

                            <!-- card -->
                            <Card :value="card" @click.native="showTodo(cardIndex, card)"  />
                            <!-- /card -->

                        </div>
                    </List>
                    <!-- /list -->

                </div>
            </div>
        </div>
    </div>
</body>
<script>

Vue.component('List', {
    props: {
        value: {
            type: Object,
            required: true
        }
    },
    template: `
    <span>
        <div class="content width-max" style="padding: 0px;margin: 0px">
            <div class="title is-5 width-max" style="margin-bottom: 5px;overflow: hidden;">
                {{value.name}}
            </div>
        </div>
        <hr style="margin: 10px 0;border: 1px solid #ebebeb"/>

        <a style="text-decoration: none;">
            <slot></slot>
        </a>

        <div class="is-pulled-left visible-on-hover" style="margin-top: 20px">
            <div class="columns" style="width: 100%;padding: 5px">
                <input v-model="value.curTextCardInput" class="input is-light column" type="input" placeholder="Card Name" style="margin-right: 5px" @keyup.enter="value.curTextCardInput != '' ? value.cards.push({name: value.curTextCardInput, toDo: []}) : null; value.curTextCardInput = ''">
                <input class="button is-light has-text-weight-semibold" type="button" value="Add Card" @click="value.curTextCardInput != '' ? value.cards.push({name: value.curTextCardInput, toDo: []}) : null; value.curTextCardInput = ''">
            </div>
        </div>
    </span>
    `
})
Vue.component('Card', {
    props: {
        value: {
            type: Object,
            required: true
        }
    },
    template: `
    <a class="button is-white" style="width: 100%;border: 1px solid #ebebeb;justify-content: left;text-align: left">
        <div style="justify-content: left">
            {{ value.name }}
        </div>
    </a>
    `
})

Vue.component('Carddetail', {
    props: {
        curtodoarray: {
            required: true
        }
    },
    template: `
    <div v-show="Object.keys(curtodoarray).length" class="has-background-info" style="width: 100vw;height: 100vh;position: relative">
        <div class="container" style="min-height: 100vh"> 
            <div class="tile is-parent" style="margin: auto 0px;height: 80vh;height: 100%;">
                <article class="tile is-child notification">
                    <div style="position:sticky;top:0px;z-index: 2;padding: 0px 1 0px;border-bottom: 2px solid lightgrey" class="notification">
                        <div class="columns is-marginless">
                            <div class="column">
                                <div class="title">{{curtodoarray.name}}</div>
                            </div>
                            <div class="column is-3 is-pulled-right">
                                <a class="is-pulled-right has-text-weight-semibold" @click="$emit('unshow')" style="text-decoration: none;">
                                    <span>Close</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <slot></slot>

                    <div class="columns is-marginless is-paddingless">
                        <div class="column is-11 field" style="margin:0px">
                            <div class="control">
                                <input v-model="curtodoarray.curTextToDoInput" type="text" class="input" placeholder="Add your To Do" @keyup.enter="$emit('addtodo')" />
                            </div>
                        </div>
                        <div class="column is-1">
                            <input type="button" class="button is-light is-pulled-right has-text-weight-semibold" value="Add" style="width: 100%" @click="$emit('addtodo')"/>  
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    `
})

Vue.component('Checklist', {
    props: {
        data: {
            type: Object,
            required: true
        }
    },
    template: `
        <span>
            <div @click="data.isDone = !data.isDone" class="tile is-child notification columns hover-list" style="border-left: 2px solid darkgrey; margin: 4px 0px;">
                <div class="column is-10">
                    <div class="title is-5 has-text-grey" :class="{strikethrough: data.isDone}">
                        {{data.text}}
                    </div>
                </div>
            </div>
            <div class="column is-pulled-right hover-list" style="position: absolute;top:20%;right: 20px;border-radius: 50%" @click="$emit('remove')">
                <span class="icon is-pulled-right">
                    <i class="fas fa-times"></i>
                </span>
            </div>
        </span>
    `
})

const app = new Vue({
    el: '#app',
    data: {
        curTextListInput: '',
        curTodoArray: {},
        board: {
            name: 'Project',
            lists: []
        }
    },
    methods: {
        addList: function() {
            if(this.curTextListInput === '') {
                return
            }
            this.board.lists.push({
                name: this.curTextListInput,
                curTextCardInput: '',
                cards: []
            })
        },
        showTodo: function(index, val) {
            this.show = !this.show
            this.curTodoArray = {
                ...val,
                curTextToDoInput: ''
            }
        },
        drag: function(e, data, listIndex, cardIndex) {
            var dataTemplate = {
                from: {
                    index: listIndex,
                    card: {
                        index: cardIndex
                    }
                },
                payload: {
                    name: data.name,
                    toDo: data.toDo
                }
            }
            var dataStringify = JSON.stringify(dataTemplate)

            e.dataTransfer.setData("text", dataStringify)
        },
        allowDrop: function(e) {
            e.preventDefault()
        },
        drop: function(e, to) {
            var data = e.dataTransfer.getData("text")
            var dataParse = JSON.parse(data)
            var listIndex = dataParse.from.index
            var cardIndex = dataParse.from.card.index

            for(var i = cardIndex; i < this.board.lists[listIndex].cards.length; i++) {
                this.board.lists[listIndex].cards[i] = this.board.lists[listIndex].cards[i+1]
            }
            this.board.lists[listIndex].cards.pop()
            this.board.lists[to].cards.push(dataParse.payload)
        },
        remove: function(index) {
            for(var i = index; i < this.curTodoArray.toDo.length; i++) {
                this.curTodoArray.toDo[i] = this.curTodoArray.toDo[i+1]
            }
            this.curTodoArray.toDo.pop()
        },
        addTodo: function() {
            if(this.curTodoArray.curTextToDoInput == ''){
                return
            }
            this.curTodoArray.toDo.push({text: this.curTodoArray.curTextToDoInput, isDone: false})
            this.curTextToDoInput = ''
        }
    }
})
</script>
</html>