html, body 
    height 100%
    overflow hidden

.m-12
    margin 12px
.m-8
    margin 8px
.m-4
    margin 12px
.m-0
    margin 0px !important

.mt-12
    margin-top 12px
.mt-8
    margin-top 8px
.mt-4 
    margin-top 4px

.ml-12
    margin-left 12px
.ml-8
    margin-left 8px
.ml-4 
    margin-left 4px

.mb-12
    margin-bottom 12px
.mb-8
    margin-bottom 8px
.mb-4 
    margin-bottom 4px

.mr-12
    margin-right 12px
.mr-8
    margin-right 8px
.mr-4 
    margin-right 4px

.mtb-12
    margin 12px 0px
.mtb-8
    margin 8px 0px
.mtb-4 
    margin 4px 0px

.mrl-12
    margin 0px 12px 
.mrl-8
    margin 0px 8px 
.mrl-4 
    margin 0px 4px

.p-12
    padding 12px
.p-8
    padding 8px
.p-4
    padding 12px
.p-0
    padding 0px !important

.pr-12
    padding-right 12px
.pr-8
    padding-right 8px
.pr-4 
    padding-right 4px

.pl-12
    padding-left 12px
.pl-8
    padding-left 8px
.pl-4 
    padding-left 4px

.ptb-12
    padding 12px 0px
.ptb-8
    padding 8px 0px
.ptb-4 
    padding 4px 0px

.prl-12
    padding 0px 12px 
.prl-8
    padding 0px 8px 
.prl-4 
    padding 0px 4px 

.position-absolute
    position absolute
    
.position-relative
    position relative

.show-hover div span
    display none 

.show-hover:hover div span
    display flex

.no-text-decoration 
    text-decoration none

.overflow-hidden
    overflow hidden

.width-max
    width 100% !important


.scroll-container
    height 100%
    width 100%
    overflow hidden

.hover-list:hover
    background-color #e6e6e6

.strikethrough
    text-decoration line-through

.scrollmenu
    padding 10px 10px 10px 10px
    white-space nowrap
    width 100%
    height 100%
    overflow auto
    padding-right 15px


.scrollmenu div
    width 300px
    display inline-block


.scrollmenu div div
    height auto
    position relative


.scrollmenu a:hover
  background-color #777

.list-container
    padding 14px
    background white
    border-radius 5px


.list-section
    height 100%

.card-shadow
    -webkit-box-shadow 0px 4px 9px -5px rgba(0,0,0,0.15)
    -moz-box-shadow 0px 4px 9px -5px rgba(0,0,0,0.15)
    box-shadow 0px 4px 9px -5px rgba(0,0,0,0.15)
